# Copy to .mongo.env before starting docker compose.

# MongoDB admin account
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=PASSWORD

# Mongo Express login (web UI)
MONGO_EXPRESS_USERNAME=admin
MONGO_EXPRESS_PASSWORD=OTHERPASSWORD
